# Archivos de proyecto
milugar.sublime-project
milugar.sublime-workspace

# Contenido de la carpeta upload
appweb/upload/logo_empresa/*
appweb/upload/icono_rubro/*
appweb/upload/galeria_imagen_empresa/*