@media screen {
	body {
		width: 100%;
		height: 100%;
	}
    #mapaFondo {
        width: 100%;
        height: 100%;
        position: fixed !important;/*Reemplaza el position: relative que pone la API de Google Maps*/
        top: 0;
        left: 0;
        z-index: -1;/*Para que se vea el fondo negro translúcido de las ventanas modales*/
    }
	#banner img {
		margin-left: -15px;
		padding: 7px 14px 14px;
		box-sizing: content-box;/*Reemplaza el box-sizing aplicado por bootstrap*/
	}
    #contenedor {
		position: relative;
        margin-bottom: 4em;/*Necesario para que la nav, que tiene position:fixed, no tape el final de la página*/
    }
	#contenido.formResultado {
		margin-bottom: 1000px;
		padding-top: 15px;
		position: absolute;
		top: 96px;
	}
	#opcionesFiltro .well { padding-bottom: 5px }
    #modalFotosVideos h2 {font-size: 1em }
    #banner img, #contenido, #nav { background-color: rgba(255, 255, 255, .80); }
	#listaResultadosFiltros {
		background-color: #FFF;
		height: 300px;
		overflow: auto;
	}
	#listaResultadosFiltros li{
		border-bottom: 1px solid #EDF4FA;
	}
    #nav {
        font-weight: 700;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 3;
    }
    #nav ul { margin: 0; }
    #nav a {
        color: #000;
        padding: .5em;
        display: block;
    }
	div.filtro_zona > select, div.filtro_rubro button {
		width: 275px;
		height: 55px;
	}
	div.filtro_rubro ul, div.filtro_rubro ul li label { width: 100%; }
	div.filtro_zona > select {
		width: 275px !important;
		height: 55px;
	}
	div.filtro_rubro button {
		width: 275px;
		height: 55px;
	}
	
	#contenedorBtnContraerResultBusqueda {
		width: 55px;
		position: absolute;
		z-index: 2;
		top: 95px;
		padding: 0;
	}
	#contenedorBtnContraerResultBusqueda p {
		margin: 0;
	}
	.contenidoColapsado {
		width: 1px !important;
		height: 1px !important;
		margin-bottom: 0 !important;
		opacity: 0;
	}
	.contenidoExpandido {
		width: 100%;
		height: auto;
		margin-bottom: inherit;
		opacity: 1;
		position: relative;
		z-index: 1;
	}
}
@media screen and (min-width: 960px) {
	#contenedor {
		margin: 0 0 -16px 15px;/*Sobreponiendo el margin predeterminado de .container*/
		width: 213px;
		float: left;
	}
	#banner {
		width: 213px;
		position: absolute;
		top: 0;
		left: 15px;
	}
	#contenido.contenidoConFormBuscar {
		position: fixed;
		width: 680px; /* 600px */
		height: 85px; /* 80px */
		padding-top: 16px;
		top: 47%; /* 50% */
		left: 47%; /* 50% */
		margin: -40px 0 0 -300px;
		z-index: 0;
	}
    .contenido-gral {
        width: 480px;
        margin: 97px 0 0 -15px;
    }
	#contenido.formResultado {
		overflow: auto;
		width: 480px;
        height: 520px;
		margin-bottom: 0px;
	}
	.contenidoColapsado {
		transition: margin-bottom 1s ease-in-out, opacity 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out, overflow 1s ease-in-out;
	}
	.contenidoExpandido {
		width: 480px;
		height: 520px;
		opacity: 1;
		transition: opacity 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out, overflow 1s ease-in-out;
	}
	div.filtro_rubro ul { top: -150%; }
}